* {
  margin: 0 auto;
  padding: 0;
  background: black;
  overflow: auto;  
  position: relative;
  background-position: center;
  align-items:center;
  background-clip: padding-box;
  font-size: 16px;
  text-align:center;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#inn {
  width: min(100vmin,61.8vh);
  height: 100vh;
  background: rgb(130,36,30);
}
.header {
  background: wheat;
  width: 100%;
  height: 38.2%;
  display: flex;
}
.body {
  background: none;
  width: 100%;
  height: 61.8%;
  display: flex;
}
#plaque {  
  background-color: rgb(37,86,122);
  width: 61.8%;
  height: 18vmin;
  line-height: 18vmin;
  font-size: 2.18rem;
  color: rgb(243,214,55);
  border: 3.18vmin ridge rgb(243,214,55);
  text-shadow: 1px 1px 2px black, -1px -1px 2px gray;

/*  
#622a1d
border-style: outset;rgb(243,214,55)*/
}
h1 {
  font-size: 2.18rem;
  background: none;
  color: rgb(243,214,55);
  text-shadow: 1px 1px 2px black, -1px -1px 2px gray;
}
h1:hover {
  text-shadow: -1px -1px 2px gray, 1px 1px 2px black;
}
#door {
  display: flex;
  background: black;
  border: 1px solid black;
  width: 38.2%;
  height: 10%;
}
h2 {
  font-size: 1.5rem;
  background: none;
  color: rgb(243,214,55);
}