html {
    font-size: 16px;
    background: rgb(3,2,4);
}
body {
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;

}
div {
    height: 100%;
}
.left-div {
    width: 38.2vw;
    background: yellow;
    float: left;

}
.right-div {
    width: 61.8vw;
    float: right;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.image-div {
    width: 384px;
    height: 216px;

    background: url("./t01e1a2d6222d272b78.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}